*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/back.avif);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
     
}
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px ;


}
nav ul li{
    display: inline-block;
    margin: 10px 20px;

}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(70, 246, 102, 0.87);
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}
.btn img{
    width: 20px;
    margin-right: 10px;
}

.content{
    margin-top: 14%;
    color: #fff;
    max-width: 620px;

}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}
.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;


}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
    
}
